/*
 * @file: /Users/i104/EmailForward/src/components/EmailManagement/EmailManagement.css
 * @author: dongyang
 */

.email-management-container {
  width: 100%;
}

.email-management-action-bar {
  margin-bottom: 16px;
}

.email-management-hint-text {
  margin-top: 8px;
  color: #666;
  font-size: 12px;
}
